@import "tailwindcss";


/* .app {
  display: flex;
}

.title {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
  color: #242424;
} */